/* Richard Davies, Data Science for Economists */

/* This is my second CSS file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* Set the background color for my page: */
body{
    background-color: rgb(233, 233, 233);
 
}


/* Choose the appearance of the tags, h1, h3 and p: */
h1 {
    color:rgb(239,230,230);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h3, p{
    color:#f4c245;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
    
.myWeek1{
    margin: auto;
    max-width: 600px;
    background-color: rgb(32,42,68);

      
    border-width: 3px;
    border-style: solid;
    border-radius: 15px;
    border-color: pink;
}


/* Set the apperance of the class, chart */
.chart{
    margin: auto;
    background-color: rgb(32,42,68);
    color:#00a767;
    
    width:400px;
    border-width: 4px;
    border-style: solid;
    border-radius: 10px;
    border-color: red;
    
}
    

/* Set the apperance for a particular chart */
#Chart1{
    border-color: blue;   
}